<ul>
    <li>
    <p>Title: {{goods.title}}</p>
    <p>Description: {{goods.description}}</p>
    {% if goods.image%}
        <p><img src="{{ goods.image.url  }}" alt="{{goods.title}}"></p>
        {% endif %}

    <p>Price: {{goods.price}}</p>
    <p>Category: {{goods.category}}</p>
    <p>Date: {{goods.date}}</p>
    </li>


    <h2>Feedbacks: </h2>
    <li>
        {% for feedback in feedback_list %}
        <p>Author: {{feedback.author}}</p>
        <p>Text: {{feedback.text}}</p>
        <p>Date: {{feedback.date}}</p>
        {% endfor %}
    </li>
</ul>

<form method="post" action="{% url 'goods_delete' goods.pk%}">
    {% csrf_token%}
    <button type="submit">Delete</button>
</form>

<button><a href=" {% url 'goods_update' goods.pk %}">Update</button>
<button><a href=" {% url 'goods_list' %}">Cancel</button>
